fastapi
uvicorn
langchain
python-dotenv
scrapy
beautifulsoup4
youtube-dl
openai
requests
pydantic 
langchain_community
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
google-cloud-aiplatform
langchain-google-genai
google-api-python-client
isodate
# smolagents
git+https://github.com/huggingface/smolagents.git@gaia-submission-r1
smolagents[litellm]

beautifulsoup4>=4.12.3
google_search_results>=2.4.2
mammoth>=1.8.0
markdownify>=0.13.1
numexpr>=2.10.1
openpyxl
pandas>=2.2.3
pathvalidate>=3.2.1
pdfminer>=20191125
pdfminer.six>=20240706
Pillow>=11.0.0
puremagic>=1.28
pypdf>=5.1.0
python-dotenv>=1.0.1
python_pptx>=1.0.2
Requests>=2.32.3
serpapi>=0.1.5
tqdm>=4.66.4
youtube_transcript_api>=0.6.2
chess
sympy
pubchempy
Bio
scikit-learn
scipy
pydub
PyPDF2
python-pptx
xlrd
transformers